{% load static %}
{% include 'the_guard_app/../parts/header.html' %}

<body>

<div class="row">
    <p class="col-md-3 col-sm-10 offset-sm-1">Welcome {{ user.username }} !!!</p>
    <div class="btn btn-default col-md-2 offset-md-5 col-sm-10 offset-sm-1 my_btn">
        <a href="{% url 'logout' %}">Log out</a>
    </div>

</div>

<div class="row">
    <div class='camera col-md-2'>
        {% for key, value in rooms.items %}
        <button class="btn btn-default col-md-10 offset-md-1 my_btn">
            <div class="row parent">
                <div class="col-md-4"><img class="btn_camera_logo" src="{% static 'pics/camera.png' %}"/></div>
                <div class="col-md-8">
                    <h4 class="childtext">{{key}}</h4>
                </div>
            </div>
        </button>

        {% endfor %}
    </div>
    <div class='camera col-md-10 centered'>

    {% block content %}
    {% endblock content %}

    </div>

</div>

</body>
