body{
    background: linear-gradient(rgb(233,136,26),rgb(233,217,49)) fixed;
}

h1{
    text-align:center;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
    }

#start_logo {
    height: 50%;
}

#start_header, .centered {
    text-align:center;
}

#login, #signup {
    text-align: center;
}

.my_btn{
    border: 3px solid black;
    background-color: rgb(233,136,26);
    margin-bottom: 5px;
}

.my_btn:hover, .my_btn:focus, .my_btn:active, .my_btn.active, .open>.dropdown-toggle.my_btn {
    border: 3px solid black;
    background-color: #e9541a;
}

.my_alert{
    background-color: #e9541a;
    border: 3px solid black;
    font-weight: bold;
}

.my_alert p {
    margin-bottom: 0 ;
}

#head_name{
    margin: 5px;
}

.btn_camera_logo{
    width:100% ;
}

#video{
    max-height: 50%;
}

.parent{
	position:relative;
}

.childtext{
	position:absolute;
	top: 50%;
	transform:translateY(-50%);
}

.sensor_list {
    margin: auto;
    padding: 10px;
}

#main_row {
    margin-top: 20px;
}