{% extends "index.html" %}

{% block content %}

<h1>{{name}}</h1>

<video id="video" onclick="playPause()"></video>

<div class="row centered">
    {% for key, value in rooms.items %}
    {% if key == name %}
    <div class="sensor_list">
        {% for sensor, value2 in value.items %}
        <div class="row">
            <p class="col-md-2 offset-md-3"><b>{{sensor}}</b> </p> <p class="col-md-1"> {{ value2.value}}</p>
            {% if sensor == 'COSensor' %}
             <div class="progress col-md-3 my_progress_bar">
                 <div class="progress-bar" id="CO_bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                 </div>
            </div>
            {% elif sensor == 'LPGSensor' %}
            <div class="progress col-md-3 my_progress_bar">
                 <div class="progress-bar" id="LPG_bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                 </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>


<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<script>
      if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource('http://52.236.165.15.:80/hls/test.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
      });
     }
     var myVideo = document.getElementById("video");

     function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }



</script>

{% endblock content %}
