{% extends "index.html" %}

{% block content %}
<div class="row">
<p class="col-md-3 offset-md-2"><b>Date</b></p>
    <p class="col-md-3"><b>Type of notfication</b></p>
<p class="col-md-3"><b>Message</b></p>
    </div>
<hr style="margin-top:0px;">
{% for notification in notifications %}

<div class="row">
<p class="col-md-3 offset-md-2">{{ notification.date }}</p>
<p class="col-md-3">{{notification.notificationType}}</p>
<p class="col-md-3">{{ notification.message }}</p>
</div>


{% endfor %}
{% endblock %}