{% extends "user_base.html" %}
{% block content %}

<div id="signup">
      <p>{{ msg }}</p>


        <form class="form-horizontal" name="SignUpForm" action="/signup/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Email</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
        </form>
    </div>
{% endblock content %}
